<li>

   <div class="comment-item">
      <div class="comment-info">
        <%= comment.user.email %>
        <% from_time = Time.now %>
        <% to_time = comment.created_at %>
        <% time_passed = distance_of_time_in_words(from_time, to_time) %>
         (<%= time_passed %> ago)  
         
        <%if comment.user == current_user %>
            <%=link_to 'Edit', edit_comment_path(comment) %>
            <%=link_to 'Delete', comment, method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </div>
    
      
      <br>
      <div class="comment-text">
        <%= comment.text%> 
      </div>
  
 <div class="comment-reply">
        <% @comment = comment %>
        <%= link_to 'reply' , reply_comment_path(comment)%> 
      </div>

  <ul>
      <%= render partial: 'comments/comment', collection: comment.replays %>
  </ul>

</li>


      
     