<%=@user.inspect%>
<%= form_with(model: user, url: users_update_path(@user), method: :put) do |form| %>
<%=@user.inspect%>
    <table>
      <% if @user.email == "" %>
        <tr valign="center"><a class="comment"> Please put a valid address in the email field, or we won't be able to send you a new password if you forget yours. Your address is only visible to you and us. Crawlers and other users can't see it.</a></tr>
      <% end %>
    </table>
    
    

   <table border = "0">



      <tr>
        <td class='c-gray' valign="top"> user:</td> 
        <td class='current_username'><%= @user.user_name %></td> 
      </tr>

      <tr>
        <td class='c-gray' valign="top">created:</td>
        <td><%= @user.created_at.strftime("%B %d, %Y") %></td>
      </tr>

      <tr>
        <td class='c-gray' valign="top">karma:</td>
        <td class='c-gray'><%= @user.karma %></td>
      </tr>
      
      <tr>
        <div class="field">
         <td class='c-gray' valign= "top"> about: </td>
         <td valign= "top"> <%= form.text_area(:about, size: "60x7")%> <a class="comment"> help</a> </td>
        </div>
      </tr>

      <tr>
        <td></td>
        <td><a class="comment">Only admins see your email below. To share publicly, add to the 'about' box.</a></td>
      </tr>
      <%= @user.inspect%>
      <tr>
       <div class="field">
         <td class='c-gray' valign="top"> email: </td>
         <td valign="top"> <%= form.text_field(:email, size: "60") %> </td>
       </div>
      </tr>

      <tr>
        <td class='c-gray' valign="top"> showdead:</td> 
        <td valign="top"> 
          <select choice="no">
            <option value="1"> yes</option>
            <option value="2" selected="selected"> no</option>
          </select>
        </td> 
      </tr>

      <tr>
        <td class='c-gray' valign="top"> noprocrast:</td> 
        <td valign="top"> 
          <select choice="no">
            <option value="true" selected= "<%= "#{@user.no_procrast ? '':'selected;'}"%>" > yes</option>
            <option value="false" selected= "<%= "#{!@user.no_procrast ? '':'selected;'}"%>" > no</option>
          </select>
        </td>
      </tr>

      <tr>
        <td class='c-gray' valign="top"> maxvisit:</td> 
        <td valign="top"> <%= form.text_field(:max_visit, size: '16') %> </td> 
      </tr>

      <tr>
        <td class='c-gray' valign="top"> minaway:</td> 
        <td valign="top"> <%= form.text_field(:min_away, size: '16') %> </td> 
      </tr>

      <tr>
        <td class='c-gray' valign="top"> delay:</td> 
        <td valign="top"> <%= form.text_field(:delay, size: '16') %> </td> 
      </tr>

      <tr>
        <td></td>
        <td class="link" valign="top">change password</td>
      </tr>

      <tr>
        <td></td>
        <td class="link" valign="top">submissions</td>
      </tr>

      <tr>
        <td></td>
        <td class="link" valign="top">comments</td>
      </tr>

      <tr>
        <td></td>
        <td class="link" valign="top">hidden</td>
      </tr>
      
      <tr>
        <td></td>
        <td valign="top"> <a class="link"> favorite submissions</a> <a> / </a> <a class="link"> comments </a> <em class= "c-gray"> (public) </em> </td>
      </tr>

      <tr>
       <div class="actions">
          <td valign="top"> <%= form.submit "Update" %> </td>
       </div>
      </tr>
    </table>
<% end %>
