<div class="nav-bar-container">
    <% if request.original_url == "http://localhost:3000/contributions/new" %>
       <ul class="nav-bar">
           <li class="navbar-item">
               <%= link_to contributions_url do %>
                 <%= image_tag "y18.gif" %>
               <% end %>
           </li>
           <li class="navbar-item" style="font-weight:bold;"><span>Submit</span></li>
       </ul> 
    <% else %>
        <ul class="nav-bar">
           <li class="navbar-item">
               <%= link_to contributions_url do %>
                 <%= image_tag "y18.gif" %>
               <% end %>
           </li>
            <li class="navbar-item">
                <%= link_to "Haker News", contributions_url %>
            </li>
            <li class="navbar-item">welcome</li>
            <li class="navbar-item">
                <%= link_to "news", show_news_contributions_url %>
            </li>
            <li class="navbar-item">threads</li>
            <li class="navbar-item">past</li>
            <li class="navbar-item">comments</li>
            <li class="navbar-item">ask</li>
            <li class="navbar-item">show</li>
            <li class="navbar-item">jobs</li>
            <li class="navbar-item">
                <%= link_to "submit", new_contribution_url %>
            </li>
        </ul>
        <ul class="nav-bar-auth">
            <% if user_signed_in? %>
                <li class="navbar-item"><%= current_user.email %></li>
                <li class="navbar-item">
                    <%= link_to "Log Out", destroy_user_session_url, method: :delete %>
                </li>
            <% else %>
                <li class="navbar-item">
                    <%= link_to "Log In", new_user_session_url %>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>