<div class="nav-bar-container">
    <% if current_page?(new_contribution_url) %>
       <ul class="nav-bar">
           <li class="navbar-item">
               <%= link_to contributions_url do %>
                 <%= image_tag "y18.gif" %>
               <% end %>
           </li>
           <li class="navbar-item" style="font-weight:bold;"><span>Submit</span></li>
       </ul> 
    <% else %>
        <ul class="nav-bar">
           <li class="navbar-item">
               <%= link_to contributions_url do %>
                 <%= image_tag "y18.gif" %>
               <% end %>
           </li>
            <li class="navbar-item">
                <%= link_to "Haker News", contributions_url %>
            </li>
            <li class="navbar-item">
                <%= link_to "news", show_news_contributions_url %>
            </li>
            <%if user_signed_in?%>
            <li class="navbar-item">
                <%= link_to "threads", show_comment_url(current_user) %>
            </li>
            <%end%>
            <li class="navbar-item">past</li>
            <li class="navbar-item">comments</li>
            <li class="navbar-item">
                <%= link_to "ask", show_ask_contributions_path %>
            </li>
            <li class="navbar-item">show</li>
            <li class="navbar-item">jobs</li>
            <li class="navbar-item">
                <%= link_to "submit",  new_contribution_contributions_url(!current_user.nil? ? current_user.token : "nil") %>
            </li>
        </ul>
        <ul class="nav-bar-auth">
            <% if user_signed_in? %>
                <li class="navbar-item" style="overflow-wrap:anywhere;">
                    <%= link_to current_user.full_name, users_edit_path(current_user) %>
                    (<%=current_user.karma%>)
                </li>
                <li class="navbar-item">
                    <%= link_to "Log Out", destroy_user_session_path %>
                </li>
            <% else %>
                <li class="navbar-item">
                    <%= link_to "Log In", user_google_oauth2_omniauth_authorize_path, method: :post %>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>