<% @contributions.each.with_index do |contribution, index| %>
    <div class="contribution">
      <div class="contribution-index">
        <p><%= index %>. 
            <%= image_tag "grayarrow.gif", id:contribution.id, 
            style:"cursor:pointer;#{liked_contribution(contribution.id) ? "visibility:hidden":""}", onClick:"like_contribution(#{contribution.id})" %>
        </p>
      </div>
      <div class="contribution-text">
        <div class="contribution-title">
          <%if contribution.url?%>
            <%= link_to contribution.title ,  contribution.url %>
          <%else%>
            <%= link_to contribution.title ,  contribution %>
          <% end %>
          <p> (<%= contribution.user.user_name%>) </p>
        </div>
        <div class="contribution-info">
          <p><%= contribution.points %> points </p>
          <p style=<%= liked_contribution(contribution.id) ? 'cursor:pointer;':'display:none;cursor: pointer;'%> id=<%= "#{contribution.id}_unvote" %> onclick="dislike_contribution(<%=contribution.id%>)" >unvote</p>
        </div>
      </div>
    </div> 
<% end %>
<script>
like_contribution = (id) =>{
    var arrow = document.getElementById(id);
    arrow.style.visibility = "hidden";
    fetch(`http://localhost:3000/contributions/${id}/like`,{
      method: 'PUT',
      headers:{
        'Content-Type':'application/json'
      }
    }).then(response =>{
      if(response.statusText === "Unprocessable Entity"){
        var url = `${window.location.origin}/users/sign_in`
        location.replace(url);
      }else{
        var unvote = document.getElementById(`${id}_unvote`);
        unvote.style.display = "block";
        location.reload();
      }
      
    })

}

dislike_contribution = (id) =>{
    var arrow = document.getElementById(id);
    arrow.style.visibility = "visible";
    fetch(`http://localhost:3000/contributions/${id}/dislike`,{
      method: 'PUT',
      headers:{
        'Content-Type':'application/json'
      }
    }).then(response =>{

      if(response.statusText === "Unprocessable Entity"){
        var url = `${window.location.origin}/users/sign_in`;
        location.replace(url);
      }else{
        var unvote = document.getElementById(`${id}_unvote`);
        unvote.style.display = "none";
        location.reload();
      }
    })
    
}
</script>