    <div class="contribution">
      <div class="contribution-index">
        <p>
          <%if index != -1%>
            <%= index %>. 
          <%end%>
          <%if user_signed_in? and contribution.user.id == current_user.id %>
              <span class="c-orange">*</span>
          <%else%>
              <%= image_tag "grayarrow.gif", id:contribution.id, 
              style:"cursor:pointer;#{liked_contribution(contribution.id) ? "visibility:hidden":""}", onClick:"like_contribution(#{contribution.id}, '#{ user_signed_in? ? current_user.token : ""}')" %>
          <%end%>
        </p>
      </div>
      <div class="contribution-text">
        <div class="contribution-title">
          <%if contribution.url?%>
            <%= link_to contribution.title , contribution.url %>
            <p class="c-gray"> (<%=link_to contribution.url, contribution_path(contribution), class: "c-gray"%>) </p>
          <%else%>
            <%= link_to contribution.title ,  contribution %>
          <% end %>
        </div>
        <div class="contribution-info">
          <p><%= contribution.points %> points </p>
          <p>by</p>
          <%if current_user.id == contribution.user.id%>
           <p><%=link_to contribution.user.full_name, users_edit_url(id: current_user.id, token: current_user.token), class: "c-gray"%> </p>
          <%else%>
            <p><%=link_to contribution.user.full_name, users_show_url(contribution.user), class: "c-gray"%> </p>
          <%end %>
          <p><%= distance_of_time_in_words(Time.now, contribution.created_at) %> ago | </p>
          <p style=<%= liked_contribution(contribution.id) ? 'cursor:pointer;':'display:none;cursor: pointer;'%> id=<%= "#{contribution.id}_unvote" %> onclick="dislike_contribution(<%=contribution.id%>, '<%=user_signed_in? ? current_user.token : "" %>')" >unvote | </p>
          <%if contribution.comments.count == 0%>
            <p><%= link_to "discuss", contribution, class:"c-gray" %></p>
          <%else%>
            <p><%= link_to "#{contribution.comments.count} comments", contribution, class:"c-gray" %></p>
          <%end%>
        </div>
        <% if current_page?(contribution_path(contribution))%>
          <p class="c-gray"><%= contribution.text %></p> 
        <%end%>
      </div>
    </div> 
<script>
    

</script>
