
<%= stylesheet_link_tag 'contributions', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= form_with(model: contribution, :url => create_contribution_contributions_path(current_user.token)) do |form| %>
  <br>

  <div class="field">
    <%= form.label :title, class:"form-label" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :url, class:"form-label"%>
    <%= form.text_field :url%>
  </div>

  <p class="margin-left text">or</p>

  <div class="field">
    <%= form.label :text, class:"form-label" %>
    <%= form.text_area :text %>
  </div>

  <div class="actions margin-left">
    <%= form.submit "submit" %>
  </div>

<% end %>
