<%= stylesheet_link_tag 'comments', media: 'all', 'data-turbolinks-track': 'reload' %>


<p>
  <strong>Contribution type:</strong>
  <%= @contribution.url %>
</p>

<p>
  <strong>Text:</strong>
  <%= @contribution.text %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contribution.title %>
</p>


<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>

<%=  render "comments/in_contribution_form" %>
<%=  render partial: 'comments/comment', collection: @contribution.comments, as: :comment %>