<!DOCTYPE html>
<html>
  <head>
    <title>Waslab05</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
      <ul>
        <li>Haker News</li>
        <li>Welcome</li>
        <li>New</li>
        <li>threads</li>
        <li>past</li>
        <li>comments</li>
        <li>ask</li>
        <li>show</li>
        <li>jobs</li>
        <li>submit</li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
