<!DOCTYPE html>
<html>
  <head>
    <title>Submit | Hacker News</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'comments', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'contributions', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">

      <div class="content">

        <%= render 'shared/navbar' %>
        <%= render 'shared/alert_manager'%>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
